<form>
  <div class="form-group">
    <h3>Acesso ao sistema</h3>
  </div>

  <div class="form-group">    
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" #email="ngModel" [(ngModel)] = "usuario.login" id="login" name="login" required>
 
    <div *ngIf="email.invalid" class="alert alert-danger">
      O login deve ser informado
    </div>
  </div>

  <div class="form-group">
    <label for="senha">Senha:</label>
    <input type="password" class="form-control" #senha="ngModel" [(ngModel)] = "usuario.senha" id="senha" name="senha" required>
  
    <div *ngIf="senha.invalid" class="alert alert-danger">
      A senha deve ser informada
    </div>
  </div>

  <button type="button" [disabled]="email.invalid || senha.invalid" class="btn btn-primary" (click)="login()">Acessar</button>
</form>