<h3 style="text-align:center">Usuarios</h3>

<br/>
<br/>

<form class="form-inline">
	<div class="form-group mx-sm-3 mb-2">
		<input type="text" class="form-control" [(ngModel)]="nome" id="nome" name="nome" placeholder="Digite o nome do usuario">
	</div>
	<button type="button" (click)="consultarUsuarioPeloNome()" class="btn btn-primary mb-2">Pesquisar</button>

	<button type="button" [routerLink]="['/usuarioAdd']" routerLinkActive="router-link-active" style="margin-left: 5px;" class="btn btn-success mb-2">Adicionar usuario</button>
</form>

<br/>
<br/>

<table class="table">

	<thead class="thead-dark">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Login</th>
			<th scope="col">Nome</th>
			<th scope="col">Cpf</th>
			<th scope="col">Exclusao</th>
			<th scope="col">Edicao</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let usuario of usuarios | paginate:{itemsPerPage: 5, currentPage: pagina, totalItems : total }; let i = index">
			<td>{{usuario.id}}</td>
			<td>{{usuario.login}}</td>
			<td>{{usuario.nome}}</td>
			<td>{{usuario.cpf}}</td>
			<td><button (click)="excluirUsuario(usuario.id, i)" class="btn btn-danger">Excluir</button></td>
			<td><button [routerLink]="['/usuarioAdd', usuario.id]" class="btn btn-warning">Editar</button></td>
		</tr>
	</tbody>
</table>

<div class="text-center">
	<pagination-controls (pageChange)="carregarPagina(pagina = $event);" previousLabel="Anterior" nextLabel="Proximo" responsive="true">

	</pagination-controls>
</div>