<h3 style="text-align:center">Relatorio parametrizado de usuarios</h3>

<form #formValidate="ngForm">

	<div class="form-row">
		<div class="form-group col-md-3">
			<label for="dataInicio">Data Nasc. Inicio</label>
			<span style="color: red; font-size: 23px;" *ngIf="dataInicioValidate.invalid"> *</span>
			<div class="input-group">
				<input name="dataInicio" id="dataInicio" required="true"
				[(ngModel)]="relatorio.dataInicio" #dataInicioValidate="ngModel" 
				type="text" class="form-control" placeholder="dd/mm/yyyy" 
				ngbDatepicker #dataInicio="ngbDatepicker" [minDate]="{year: 1970, month: 1, day: 1}">

				<div class="input-group-append">
					<button class="btn btn-primary" (click)="dataInicio.toggle()" type="button"></button>
				</div>
			</div>
		</div>

		<div class="form-group col-md-3">
			<label for="dataFim">Data Nasc. Fim</label>
			<span style="color: red; font-size:23px;" *ngIf="dataFimValidate.invalid"> *</span>
			<div class="input-group">
				<input name="dataFim" id="dataFim" required="true"
				[(ngModel)]="relatorio.dataFim" #dataFimValidate="ngModel"
				type="text" class="form-control" placeholder="dd/mm/yyyy"
				ngbDatepicker #dataFim="ngbDatepicker" [minDate]="{year: 1970, month: 1, day: 1}">

				<div class="input-group-append">
					<button class="btn btn-primary" (click)="dataFim.toggle()" type="button"></button>
				</div>
			</div>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<button type="button" class="btn btn-primary" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">Voltar</button>
		    <button type="button" class="btn btn-primary" (click)="baixarRelatorio()" style="margin-left: 10px;">Solicitar relatorio</button>
		</div>
	</div>
</form>